<% if current_user %>
  <p id='notice'><%= notice %></p>
  <h1>Example</h1>
  <p>Lorem ipsum …</p>

  <main id="root">Rails backend test message</main>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or
  <%= link_to 'Log In', login_path %>
<% end %>
