<% if current_user %>
  <p id='notice'><%= notice %></p>

  <div id="game"></div>
  <div id="chat"></div>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or
  <%= link_to 'Log In', login_path %>
<% end %>
